<div id="fact_{{name}}" class="fact">
  <div class="fact-image col-xs-12 col-sm-6 col-md-6">
    <img class="img-responsive hidden-xs" src="Img/{{image}}.jpg" />
    <img class="img-responsive visible-xs" src="Img/{{image}}hor.jpg" />
  </div>
  <div class="fact-text col-xs-12 col-sm-6 col-md-6">
    <h3 class="fact-title">{{title}}</h3>
    {% block text %}{% endblock %}
  </div>
</div>
