{% extends 'facts/fact.html' %}

{% set name='language' %}
{% set title='The language' %}
{% set image='factimg3' %}

{% block text %}
<p>The Vikings are known as builders of high-speed ships, brave warriors and explorers. The history of Europe and Ancient Russia is largely associated with the Vikings.</p>

<p>For centuries, the Vikings were a certain way of life, and they had the traditional view. They even became the heroes of comic illustrations.</p>

<p>to the berserkers in horned helmets, rooks, Valhalla, one-eyed god Odin and the soldiers, dying with a sword in his hand, or drinking from the skulls. In medieval Norway, it was difficult to engage in agriculture. Many Norwegians living in coastal areas, were unsurpassed masters of shipbuilding. The Vikings built the boat ("longshipy") with a wide, flat-bottomed hull.</p>

<p>Such ships are perfect for shallow coastal waters and rivers. Feature longshipov - is the absence of the stern, so that the ship had two nose, allowing to change direction without turning the ship. And on such a ship-shifter it was convenient to go to sea, full of hidden icebergs. Paddles were established almost the entire length of the vessel, so that the ship was moving rowed as fast as under sail. Later, the square sails - for better movement with a fair wind. It significantly speeds up the rowers, and could even replace them. </p>

{% endblock %}
