{% extends 'facts/fact.html' %}

{% set name='waterfalls' %}
{% set title='Seljalandsfoss and Gljufrabui Waterfalls' %}
{% set image='factimg1' %}

{% block text %}
<p>A unique waterfall in the river Seljalandsá, about 30 km west from Skógar. It is 60 meters high with a foot path behind it at the bottom of the cliff, but with a thin cascade. It is the only known waterfall of its kind, where it is possible to walk behind it. The waterfall is very picturesque and therefore its photo can be found in many books and calendars.</p>

<p>Access to the waterfall is from the farm of Seljaland along the Ring Road, Iceland's main highway. A little further to the west there are several other falls, among them the interesting Gljúfrabúi which is partially masked by its own canyon. Access to it is from Hamragarðar farm along the road, east of Markarfljót.</p>

<p>Both of these “do-not-miss” attractions lie very close to the main Ring Road at the base of the Eyjafjallajökull Glacier, on the road leading in to Thorsmörk.</p>
{% endblock %}
