{% from 'base.html' import responsive_img  %}

<div id="region_details_{{region_id}}" class="region-details">
  <div class="container">
    <h3 class="region-title subtitle">{{title}}</h3>
    <div class="region-summary">{% block summary %}{% endblock %}</div>
  </div>
  {% block features %}
  <div class="full-width-image-wrapper">
    <img src="Img/{{background_image}}-1920.jpg" class="img-responsive hidden-xs">
    <div class="floating-content-wrapper region-features">
      
      <div class="container hidden-xs">
        {% for feature in features %}
          <div class="region-feature-wrapper col-xs-12 col-sm-4">
            <div class="region-feature">
              <div class="region-feature-icon text-center"><img class="feature-icon" src="Img/{{feature['icon']}}"/></div>
              <div class="region-feature-title">{{ feature['title'] }}</div>
              <br/>
              <div class="region-feature-text">{{ feature['text'] }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container visible-xs">
    {% for feature in features %}
      <div class="region-feature-wrapper col-xs-12 col-sm-4">
        <div class="region-feature">
          <div class="region-feature-icon text-center"><img class="feature-icon" src="Img/{{feature['icon']}}"/></div>
          <div class="region-feature-title">{{ feature['title'] }}</div>
          <br/>
          <div class="region-feature-text">{{ feature['text'] }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endblock %}
  <div class="clearfix"></div>
  <div class="container">
    <div class="region-desc">
      {% block desc %}{% endblock %}
    </div>
  </div>
  <div class="container-fluid region-gallery">
    <div id="gallery_{{region_id}}" class="carousel carousel-inner" role="listbox">
      {% for photo in photos %}
      <div class="item{% if loop.first %} active{%endif%}">
        {{ responsive_img(photo, 'jpg') }}
      </div>
      {%endfor%}
      <!-- Controls -->
      <a class="left carousel-control" href="#gallery_{{region_id}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#gallery_{{region_id}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--TODO: regions-->
</div>
