{% extends 'regions/region.html' %}

{% set region_id='IS-8' %}

{% set title='South Iceland' %}
{% set background_image='reginfoimg' %}

{% block summary %}
Iceland's south coast is home to some of the country's most visited tourist attractions. The coastline itself is renowned for its beauty, and the towns along the coast are famous for their fresh seafood.
{% endblock %}

{% set features=[
    {
      'icon': 'town-blue.svg',
      'title': 'Major Towns',
      'text': 'Selfoss, Hveragerði, Vestmannaeyjar, Höfn in Hornafjörður'
    },
    {
      'icon': 'mount-blue.svg',
      'title': 'Major attractions',
      'text': 'Þingvellir, Gullfoss, Geysir, Hekla, Landmannalaugar, Seljalandsfoss waterfall, Skógafoss waterfall, Þórsmörk, Eyjafjallajökull glacier, Dyrhólaey, Reynisfjara, Vestmannaeyjar, Fjaðrárgljúfur, Skaftafell and Jökulsárlón'
    },
    {
      'icon': 'plane-blue.svg',
      'title': 'Regional airports',
      'text': 'Höfn in Hornarfjörður, Vestmannaeyjar Island'
    }
   ]
%}

{% block desc %}

<p>
From wonderful waterfalls, to great glaciers, the South has it all. With the Golden Circle route, connecting Þingvellir, Gullfoss and Geysir, located in the area, it is a very popular destination for visitors. Further east along the shore, you will find Skógafoss Waterfall, Jökulsárlón Glacial Lagoon, Vatnajökull Glacier, and several other natural wonders.
</p>
<p>
The South is rich in history and culture. Events from the Sagas are remembered in many ways along the coast, and several museums in the area celebrate Icelandic customs and heritage. With much of the country's agricultural products coming from the area, the South is also a fine testimony to Icelandic restaurant culture.
</p>

{% endblock %}

{% set photos=['sliderimg1', 'sliderimg2'] %}
