@charset "utf-8";

.subtitle {
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
  font-family: "Shruti";
  font-weight: bold;
}

.full-width-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.full-width-image {
  width: 100%;
  height: auto;
}

.floating-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-wrapper .navbar {
  margin-bottom: 0;
  border: 0;
  background-color: rgba(255,255,255,0.50);
}

.menu-wrapper-white .navbar {
  background-color: #fff;
}

.header-wrapper {
  text-align: center;
  margin-top: 10%;
  color: #fff;
}

.header-wrapper h2 {
  font-size: 3.5em;
}

.navbar > .container {
  position: relative;
}

.logo {
  height: 50px;
  width: auto;
}

.logo-wrapper {
  position: absolute;
  left: 15px;/*same as margin from bootstrap*/
  top: 10px;
}

#top-menu-items {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-image-wrapper {
  background-color: #f2f4f5;
}

.footer-menu {
  background-color: #f2f4f5;
}

/*index*/
.tour-month {
  top: 100px;
  width: 100%;
}

.tour-month-wrapper h2 {
  text-transform: uppercase;
}

.tour-month-wrapper h3 {
  text-transform: uppercase;
}

.tour-thumbnail {
  background-color:rgba(255,255,255,0.70);
  border: 0;
  border-radius: 0;
  text-align: center;
}

.tour-props {
}

.tour-month-desc {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.feature-icon {
  width: 40px;
  height: 40px;
}

.pop-columns {
  border: 1px solid #e0e0e0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 -1px;
}

.pop-column {
  width: 380px;
  float: left;
  display: flex;
  flex-direction: column;
}

/*single column*/
@media (max-width: 380px) {
  .pop-columns {
    border-width: 1px 0 1px 0;
    margin: 0;
    width: 100%;
  }

  .pop-column:nth-child(2) {
    flex-direction: column-reverse;
  }
}

/*single column + margins*/
@media (min-width: 380px) and (max-width: 760px) {
  .pop-columns {
    border-width: 1px;
    margin: 0 auto;
    width: 380px;
  }

  .pop-column:nth-child(2) {
    flex-direction: column-reverse;
  }
}

/*two columns*/
@media (width: 760px) {
  .pop-columns {
    border-width: 1px 0 1px 0;
    margin: 0;
    width: 760px;
  }
}

/*two columns and margins*/
@media (min-width: 762px) and (max-width: 1140px) {
  .pop-columns {
    border-width: 1px;
    margin: 0 auto;
    width: 762px;
  }

  .pop-column:last-child {
    float: none;
    margin: 0 auto;
  }
}

/*three columns*/
@media (width: 1140px) {
  .pop-columns {
    border-width: 1px 0 1px 0;
    margin: 0;
    width: 1140px;
  }
}

/*three columns and margins*/
@media (min-width: 1142px) {
  .pop-columns {
    border-width: 1px;
    margin: 0 auto;
    width: 1142px;
  }
}

.tour-icon {
  height:50px;
}

.pop-content {
  padding: 30px 20px 20px 20px;
  height: 380px;
  text-align: center;
}

.pop-content h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.pop-content p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.pop-price {
  text-align: right;
  margin-top: 20px;
}

.pop-price .tour-price {
  margin-right: 15px;
}

.fact {
  display: none;
}

.fact.active {
  display: block;
}

.fact:first-child:not(.active) {
  display: block;
}

.facts-menu-items {
}

.facts-menu-items a {
  color: #000;
}

.facts-menu-items a:hover {
  color: #59C0ED;
}

.facts-menu-items a.active {
  color: #59C0ED;
}

.facts-menu {
  text-align: center;
  background-position: center;
  background-repeat: repeat-y;
  background-image: url(../Img/facts-separator.png);
  overflow: hidden;
  height: 900px;
}

.facts-menu-items-right {
  background-color: #ffffff;
  padding: 40px 0;
  position: absolute;
  top: 400px;
}

.facts-menu-items-right > div {
  margin-bottom: 20px;
}

.facts-menu-items-right > div:last-child {
  margin-bottom: 0;
}

.facts-menu-xs {
}

.facts-menu-xs div {
  padding: 15px;
}

.fact-title {
  color: #59C0ED;
  text-transform: uppercase;
}

.fact-text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.gallery-filters {
  bottom: 0;
  top: auto;
}

.review {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/*xs*/
@media (max-width: 768px) {
  /*.menu-wrapper {
    height: 36px;
  }*/

  /*index*/
  .tour-month-wrapper {
    position: inherit;
  }

  .tour-month {
    position: inherit;
  }

  .tour-month-desc {
    text-align: justify;
  }

  .fact-title {
    text-align: center;
  }

  .logo {
    height: 46px;
  }

  .logo-wrapper {
    top: 5px;
  }
  /*TODO: region features*/;

  .gallerybg {
    display: none !important;
  }

  .gallery-image-wrapper {
    height: 150px;
  }

  .header-wrapper h2 {
    font-size: 2em;
  }

  .region-feature {
    height: auto !important;
  }

  .region-feature-text {
    text-align: center;
  }
}

/*sm*/
@media (min-width: 768px) and (max-width: 992px) {
  /*.menu-wrapper {
    height: 46px;
  }*/

  /*index*/
  .tour-month {
    top: 50px;
  }

  .pop-columns {
    width: 762px;/*2 columns + border*/
    margin: 0 auto;
  }

  .facts-menu {
    height: 600px;
  }

  .facts-menu-items {
    top: 200px;
  }

  .gallery-image-wrapper {
    height: 150px;
  }

  .header-wrapper h2 {
    font-size: 2em;
  }
}

/*md*/
@media (min-width: 992px) and (max-width: 1200px) {
  /*.menu-wrapper {
    height: 56px;
  }*/

  .facts-menu {
    height: 800px;
  }

  .facts-menu-items {
    top: 250px;
    margin-left: 25px;
  }

  #top-menu-items {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    height: 70px;
  }
}

/*lg, mockup etalon*/
@media (min-width: 1200px) and (max-width: 1920px) {
  /*.menu-wrapper {
    height: 90px;
  }*/

  .pop-columns {
    width: 1142px;/*3 columns + border*/
    margin: 0 auto;
  }

  .facts-menu-items {
    top: 200px;
    margin-left: 45px;
  }

  #top-menu-items {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    height: 70px;
  }
}

.big-button {
	height: 50px;
	width: 326px;
	border: 0px;
	font-size: 20px;
	text-align:center;
	background-color: #36aeea;
}
h4 {
	vertical-align:middle;
	padding-top: 0px;
}
.fav-button {
    color:#888888;
}

.fav-button:hover {
    color: #F87CB2;
    cursor: pointer;
}

.fav-button.is-fav {
  color: #F87CB2;
}

.articleholder {
    display:none;
}
.articleholder[data-article="#test1"] {
    display:block;
}
.img-circle {
    height:70px; 
}
.socialicons {
    color: #36aeea;
}

/* ---- isotope ---- */

.grid {
  border: 0;
  margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: none;
  color: #333;
  border: 1px rgba(255,255,255,0.00) solid;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
/*  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);*/
  color: #36aeea;
  border: 1px #36aeea solid;
}

.button:active,
.button.is-checked {
  background-color: none;
}

.button.is-checked {
 border: 1px #36aeea solid;
}

.button:active {
  box-shadow: none;
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}
/*dfsfdf*/
a.lightbox img {
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index:999;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
.hoverimg img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverimg img:hover {
	opacity: .6;
  cursor: pointer;
}

.tour {
  margin-bottom: 5px;
}

/* tours grid styles */
.tour a {
  display: block;
  position: relative;
  overflow: hidden;
}

.tour-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);

  /*padding inside label*/
  padding: 15px 10px;
  overflow: hidden;
}

.tour-name {
  color: #000;
}

/*disable default styles of links in grid*/
.og-grid li > a {
  color: #000;
}
.og-grid li > a:hover {
  text-decoration: none;
}

.og-grid li .tour-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tour-price {
  color: #59C0ED;
  text-transform: uppercase;
  font-size: 20px;
}

.tour-price-discount::after {
  content: "";
  background: url(../Img/line-through.png) 0 0 no-repeat;
  position: absolute;
  width: 107px;
  left: 50%;
  margin-left: -54px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
}

/* regions */
.regions {
  padding-top: 40px;
  padding-bottom: 40px;
}

.region-details {
  display: none;
}

.region-details:target {
  display: block;
}

.region-title {
  text-transform: uppercase;
}

.regions-text {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.uppercase {
  text-transform: uppercase;
}

#map {
  margin-top: 40px;
}

.region-features {
  width: 100%;
  margin: 20px 0 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.region-feature-wrapper {
  padding: 0;
}

.region-feature-wrapper:nth-child(2) > .region-feature {
  margin-left: 20px;
  margin-right: 20px;
}

.region-feature {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 15px 15px 10px;
  height: 260px;
}

.region-feature-icon {
}

.region-feature .region-feature-title {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  /*TODO: shruti*/
}

.region-feature-text {
  font-family: 'Merriweather', serif;
}

.region-summary {
  margin-top: 20px;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.region-desc {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Merriweather', serif;
}

.region-gallery {
  padding-right: 0;
  padding-left: 0;
}

.carousel-control {
  width: 5%;
}

.book-now-btn {
  background-color: #4caf47;
}

.book-now-btn:hover {
  color:#fff;
  background-color:#1C7217;
}
