{% extends 'base.html' %}
{% from 'tour_base.html' import all_tours %}

{% set title='Lost in Iceland' %}
{% set header='Lets travel together' %}
{% set header_image='alltoursbg' %}

{% block styles %}
<link rel="stylesheet" href="css/component.css">
{% endblock %}

{% block header %}
<div class="text-center big-title">
  <h2>Lets find your favorite part of Iceland</h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="subtitle">Our tours</h2>
</div>
<div class="container">
<!--{{ all_tours('og-grid', 'og-grid') }}-->
</div>
    <div class="container"> 
      <div class="main">
        <ul id="og-grid" class="og-grid">
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="http://placehold.it/900x650"
              data-title="Azuki bean"
              data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <img src="Img/thumbs/1.jpg" alt="img01"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="Img/1.jpg"
              data-title="Veggies sunt bona vobis"
              data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <img src="Img/thumbs/1.jpg" alt="img02"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="Img/1.jpg"
              data-title="Dandelion horseradish"
              data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <img src="Img/thumbs/1.jpg" alt="img03"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="Img/1.jpg"
              data-title="Azuki bean"
              data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <img src="Img/thumbs/1.jpg" alt="img01"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="Img/1.jpg"
              data-title="Veggies sunt bona vobis"
              data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <img src="Img/thumbs/1.jpg" alt="img02"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://cargocollective.com/jaimemartinez/"
              data-largesrc="Img/1.jpg"
              data-title="Dandelion horseradish"
              data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <img src="Img/thumbs/1.jpg" alt="img03"/>
              <div class="tour-label">
                <span class="tour-name pull-left">Golden circle</span>
                <span class="tour-price pull-right">34000 ISK</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- /container -->
{% endblock %}

{% block scripts %}
<script src="js/grid.js"></script>
<script>
  $(function() {
    Grid.init();
  });
</script>
{% endblock %}
