{% macro responsive_img(name, ext, cls) %}
<img class="{{cls}}"
  src="Img/{{name}}-768.{{ext}}"
  srcset="Img/{{name}}-768.{{ext}} 768w,
    Img/{{name}}-992.{{ext}} 992w,
    Img/{{name}}-1200.{{ext}} 1200w,
    Img/{{name}}-1920.{{ext}} 1920w"
  sizes="
    (max-width: 768px) 100vw,
    (min-width: 992px) 100vw,
    (min-width: 1200px) 100vw,
    (min-width: 1920px) 100vw"
/>
{% endmacro %}

{% macro fav_button() %}
<i class="fav-button fa fa-heart-o fa-2x"></i>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{title}}</title>

<!-- Bootstrap -->
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/fonts.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css">
{% block styles %}{% endblock %}
</head>
<body>
<div class="full-width-image-wrapper" id="header_block">
  {{ responsive_img(header_image, 'jpg', 'full-width-image') }}
  <div class="floating-content-wrapper menu-wrapper">
    <nav>
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <div class="logo-wrapper">
            <a href="/"><img class="logo" src="Img/logo-final.svg"/></a>
          </div>
          <div class="navbar-header">
            <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-items" aria-expanded="false">
              <!-- <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> -->
              <!-- <span class="glyphicon glyphicon-menu-hamburger"></span> -->
              <span class="fa fa-bars"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">LOGO</a> -->
          </div>
          <div class="collapse navbar-collapse" id="top-menu-items">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="alltours.html">TOURS</a></li>
              <li><a href="regions.html">REGIONS</a></li>
              <li><a href="#">FAVORITES</a></li>
              <li><a href="#">CART</a></li>
              <li><a href="contacts.html">CONTACT</a></li>
              <li><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container header-wrapper">
      <h2>{{header}}</h2>
    </div>
  </div>
</div>
{% block content %}{% endblock %}
<div class="footer-menu">
  <div class="container">
      <div class="row" style="margin-top:50px">
        <div class="col-xs-12 col-sm-4">
          <h4>Lost in Iceland</h4>
          <ul class="list-unstyled">
            <li ><a href="alltours.html">Tours</a></li>
            <li ><a href="regions.html">Regions</a></li>
            <br>
            <li ><a href="#">About us</a></li>
            <li ><a href="#">Contact us</a></li>
            <li ><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>We're also socially active</h4>
          <div class="socialicons">
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-vk fa-2x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fa fa-tripadvisor fa-2x"></i></a>
          </div>
          <p>Use the <a href="https://twitter.com/hashtag/lostiniceland">#lostiniceland</a> hashtag share your experience!</p>
          <h4>Need more info?</h4>
          <ul class="list-unstyled">
            <li><a href="#">FAQ sections</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms and conditions</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4 class="">Get in touch</h4>
          <address class="">
            <strong>MyCompany, Inc.</strong><br>
            Sunny Autumn Plaza, Grand Coulee,<br>
            CA, 91308-4075, US<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
          <h4 class="">Friends</h4>
          <img src="Img/global.png" alt="Global Passenger Network">
          <img src="Img/travel.png" alt="Travel agency">
          <img src="Img/vakinn.png" alt="Vakinn">
        </div>
      </div>
    </div>
</div>
<!--FOOTER -->
<div class="footer-image-wrapper">
  {{ responsive_img('footerimg', 'png', 'full-width-image') }}
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<!--<script src="js/bootstrap.min.js"></script>--> 
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
