{% extends 'base.html' %}

{% set title='Contact Us' %}
{% set header_image='contactsbg' %}

{% block styles %}
<style> 
.info-caption {
    padding: 30px 20px;
    border: 1px solid #3fbcef;
    height: 200px;
}
.floating-content-wrapper {
position: absolute;
top: 0;
}
.forms-wrapper {
    width:100%;
}
.contactus {
    background:#fff;
    margin-top:50px;
    padding: 40px 50px 40px 50px;
}
.input-field {
  border-bottom: 2px solid #3fbcef;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-radius: 0px;
  box-shadow: none;
}
.input-field:focus {
  border: 1px solid #3fbcef; 
  box-shadow: none; 
}
.office-info {
   padding-bottom: 50px;
}
.map-wrapper {
 padding-bottom: 50px;	
}

.blue-btn {
    background-color: #3fbcef;
    border-radius:2px;
    color: #fff;
    border:0;
    height: 40px;
    width: 100px;
    font-size:18px;
}
.blue-btn:hover {
    background-color: #14739B;
    color: #fff;
}
@media (max-width: 768px) {
 .info-caption {
    padding: 15px 10px;
    height: 200px;
 }
  .info-wrapper {
    padding-bottom: 10px;
  }
  .forms-wrapper2 {
    height: 400px;
  }

  .contactus {
    margin-top: 0px;
  }
}
  
  #responsive_map {
      height: 634px;
      width: 100%;
       }
#responsive_map div {
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    }
.gm-style-iw {
    max-width: none !important; 
    min-width: none !important; 
    max-height: none !important; 
    min-height: none !important; 
    overflow-y: hidden !important; 
    overflow-x: hidden !important; 
    line-height: normal !important; 
    padding: 5px !important; 
    }


</style>
{% endblock %}

{% block header %}
<div class="text-center big-title">
  <h2 class="subtitle">LOLOLO</h2>
</div>
{% endblock %}

{% block content %}
    <div class="text-center big-title">
      <h2 class="subtitle">CONTACT US</h2>
    </div>
    <div class="container office-info"> 
       <div class="row">
      <div class="col-sm-4 col-xs-12 text-center info-wrapper"> 
      <div class="caption info-caption">
           <i class="fa fa-calendar fa-2x fa-blue" aria-hidden="true"></i>
          <h4>OFFICE</h4>
          <p>Reykjavik City Centre <br> Hafnarstræti 20 <br> 101 Reykjavik</p>
      </div> </div>
      <div class="col-sm-4 col-xs-12 text-center info-wrapper">
       <div class="caption info-caption">
          <i class="fa fa-clock-o fa-2x fa-blue" aria-hidden="true"></i>
            <h4>WORH HOURS</h4>
            <p>All year Daily <br> 08:00 - 20:00</p>
      </div> </div>
      <div class="col-sm-4 col-xs-12 text-center info-wrapper">
        <div class="caption info-caption">
           <i class="fa fa-info-circle fa-2x fa-blue" aria-hidden="true"></i>
            <h4>CONTACTS</h4>
            <p>Call: +354.540.1313 <br> Email: iceland@grayline.is</p>
      </div> 
     </div>
<!--     <div class="clearfix"></div>-->
    </div>
    </div>
    <div class="full-width-image-wrapper forms-wrapper2">
          <!--{{ responsive_img('formsbg', 'jpg', 'full-width-image tm-bg') }}-->
    <img class="hidden-xs img-responsive tm-bg" src="Img/formsbg-1920.jpg" />
    <div class="floating-content-wrapper forms-wrapper">
          <div class="container contactus">
             <div class=" col-lg-12"> 
            <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
            <form role="form" id="feedbackForm" class="">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control input-field" id="name" name="name" placeholder="">
                <span class="help-block" style="display: none;">Please enter your name.</span></div>
              <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control input-field" id="email" name="email" placeholder="">
                <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span></div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea rows="4" cols="50" class="form-control input-field" id="message"  name="message" placeholder=""></textarea>
                <span class="help-block" style="display: none;">Please enter a message.</span></div>
              <span class="help-block" style="display: none;">Please enter a the security code.</span>
                </form>
                <button type="submit" id="feedbackSubmit" class="btn blue-btn" style=" margin-top: 10px;"> Send</button>
            <!-- END CONTACT FORM --> 
          </div> 
          </div>
  </div>
  </div>

<!-- MAP HERE --> 
<div class="text-center big-title">
  <h2 class="subtitle">FIND US</h2>
</div>
    <div class="container map-wrapper"> 
    <div id="responsive_map"></div>
    </div>
    
    {% endblock %}
    {% block scripts %}
    
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.exp"></script>
<script src="js/jquery.gmap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("#responsive_map").gMap({
		 maptype: google.maps.MapTypeId.ROADMAP, 
		 onComplete: function() {
			 // Resize and re-center the map on window resize event
			 var gmap = $("#responsive_map").data('gmap').gmap;
			 window.onresize = function(){
				 google.maps.event.trigger(gmap, 'resize');
				 $("#responsive_map").gMap('fixAfterResize');
			 };
		}
	});
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script> 
<script>
 google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(64.143412,-21.80586),
            zoom: 12,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: true,
            scrollwheel: true,
            panControl: false,
            streetViewControl: false,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#eeeeee"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]}],
        }
        var mapElement = document.getElementById('responsive_map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [
['Office', 'We are here', '+354.540.1313', 'iceland@grayline.is', 'undefined', 64.1482853, -21.94035710000003, 'https://mapbuildr.com/assets/img/markers/solid-pin-blue.png']
        ];
        for (i = 0; i < locations.length; i++) {
			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
link = '';            bindInfoWindow(marker, map, locations[i][0], description, telephone, email, web, link);
     }
 function bindInfoWindow(marker, map, title, desc, telephone, email, web, link) {
      var infoWindowVisible = (function () {
              var currentlyVisible = false;
              return function (visible) {
                  if (visible !== undefined) {
                      currentlyVisible = visible;
                  }
                  return currentlyVisible;
               };
           }());
           iw = new google.maps.InfoWindow();
           google.maps.event.addListener(marker, 'click', function() {
               if (infoWindowVisible()) {
                   iw.close();
                   infoWindowVisible(false);
               } else {
                   var html= "<div style='color:#000;background-color:#fff;padding:5px;width:150px;'><h4>"+title+"</h4><p>"+desc+"<p><p>"+telephone+"<p><a href='mailto:"+email+"' >"+email+"<a></div>";
                   iw = new google.maps.InfoWindow({content:html});
                   iw.open(map,marker);
                   infoWindowVisible(true);
               }
        });
        google.maps.event.addListener(iw, 'closeclick', function () {
            infoWindowVisible(false);
        });
 }
}
</script>
{% endblock %}
