{% extends 'base.html' %}

{% set title='Lost in Iceland' %}
{% set header_image='mainbackground' %}

{% macro pop_tour_caption(icon, title, price) %}
<div class="caption pop-content" >
  <img class="tour-icon" src="{{icon}}" alt="">
  <h3>{{title}}</h3>
  <p>{{ caller() }}</p>
  <div class="pop-price"><span class="tour-price">{{price}} ISK</span>{{ fav_button() }}</div>
</div>
{% endmacro %}

{% block content %}
<div class="popular-wrapper">
  <div class="container">
    <h2 class="subtitle">Our most popular tours</h2>
  </div>
  <div class="pop-columns">
    <div class="pop-column"> 
      <img class="img-responsive" src="Img/populartourimg1.jpg" alt="Thumbnail Image 1">
{% call pop_tour_caption('Img/puffin.svg', 'South Shore Adventure', '10 000') %}
This tour is ideal for nature lovers of all kinds. We take you along the south coast of Iceland, one of the country´s most scenic regions, as far as Vík, a charming village surrounded by high beautiful bird cliffs.
{% endcall %} 
    </div>
    <div class="pop-column"> 
{% call pop_tour_caption('Img/kit.svg', 'Up close and personal with the whales', '24 000') %}
Whale watching tours are operated from the old harbour in Reykjavik. The whales most frequently seen on tours with Elding are the Minke whales, Humpback whales and Dolphins.
{% endcall %}
      <img class="img-responsive" src="Img/populartourimg2.jpg" alt="Thumbnail Image 1">
    </div>
    <div class="pop-column">
      <img class="img-responsive" src="Img/populartourimg3.jpg" alt="Thumbnail Image 1">
{% call pop_tour_caption('Img/hors.svg', 'Horse Riding &amp; Gullfoss, Geysir &amp; Thingvellir', '18 000') %}
This day trip combines an exciting horseback riding tour in Iceland with one of our most popular tours – the Golden Circle.
{% endcall %}
    </div>
  </div>
  <div class="container">
    <div class="text-center" style="padding-top:40px;">
      <a href="alltours.html" class="btn btn-primary big-button" role="button" >ALL TOURS</a>
    </div>
  </div>
</div>

<!-- TOUR OF THE MONTH-->
<div class="full-width-image-wrapper tour-month-wrapper">
  <div class="visible-xs text-center">
    <h2>Tour of the month</h2>
    <h3>Blue Lagoon</h3>
  </div>
  {{ responsive_img('tourmonth', 'png', 'full-width-image tm-bg') }}
  <div class="floating-content-wrapper tour-month">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-6">
        <div class="thumbnail tour-thumbnail">
          <div class="caption">
            <h2 class="hidden-xs">Tour of the month</h2>
            <h3 class="hidden-xs">Blue Lagoon</h3>
            <p class="tour-month-desc">This tour is ideal for nature lovers of all kinds. We take you along the south coast of Iceland, one of the country´s most scenic regions, as far as Vík, a charming village surrounded by high beautiful bird cliffs.</p>
            <a href="#" class="btn btn-primary big-button book-now-btn" role="button">BOOK NOW</a>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
</div>
<!-- FACTS OF ICELAND-->
<div class="container">
  <h2 class="subtitle">Facts about Iceland</h2>
  <div class="row">
    <div class="facts-menu-items facts-menu-xs col-xs-12 visible-xs">
      <div class="pull-left"><a href="#fact_waterfalls" class="active">Waterfalls</a></div>
      <div class="pull-left"><a href="#fact_pure_iceland">Pure Iceland</a></div>
      <div class="pull-left"><a href="#fact_language">Language</a></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="facts-content">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10">
        <div class="row">
          {% include 'facts/waterfalls.html' %}
          {% include 'facts/pure_iceland.html' %}
          {% include 'facts/language.html' %}
        </div>
      </div>
      <div class="facts-menu col-sm-2 col-md-2 hidden-xs">
        <div class="facts-menu-items facts-menu-items-right">
          <!--screw opening in a new window/tab-->
          <div><a href="#fact_waterfalls" class="active">Waterfalls</a></div>
          <div><a href="#fact_pure_iceland">Pure Iceland</a></div>
          <div><a href="#fact_language">Language</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GALLERY-->
<div class="full-width-image-wrapper gallery-image-wrapper">
  <img class="hidden-xs img-responsive" src="Img/gallerybg-1920.png" />
  
  <div class="floating-content-wrapper gallery-filters">
    <div class="container">
      <h2 class="subtitle">Gallery</h2>
      <div id="filters" class="button-group">
        <button class="button is-checked" data-filter="*">All</button>
        <button class="button" data-filter=".bllagoon">Blue Lagoon</button>
        <button class="button" data-filter=".waterfall">Waterfalls</button>
        <button class="button" data-filter=".nature">Others</button>
      </div>
    </div>
  </div>
</div>

{% macro photo(image, class) %}
<div class="photo {{class}}">
  <img src="Img/{{image}}.jpg" />
</div>
{% endmacro %}
<div class="grid hoverimg">
  {{ photo('bllagoon2', 'bllagoon') }}
  {{ photo('waterfall3', 'waterfall') }}
  {{ photo('nature5', 'nature') }}
  {{ photo('nature2', 'nature') }}
  {{ photo('nature1', 'nature') }}
  {{ photo('nature3', 'nature') }}
  {{ photo('waterfall2', 'waterfall') }}
  {{ photo('bllagoon1', 'bllagoon') }}
  {{ photo('waterfall4', 'waterfall') }}
  {{ photo('waterfall1', 'waterfall') }}
  {{ photo('bllagoon3', 'bllagoon') }}
  {{ photo('nature4', 'nature') }}
</div>
<div>
<div class="lightbox-target" id="water">
  <img src="Img/photo702banner.jpg" alt=""/>
  <a class="lightbox-close" href="#"></a>
</div>
</div>

{% macro review(photo, name, job, text) %}
<div class="media-object-default review">
    <div class="media-left">
      <a href="#"><img class="media-object img-circle" src="{{photo}}" alt="placeholder image"></a>
    </div>
  <div class="media-body">
  <h5 style="margin-top:10px; color:#36aeea;"><strong>{{name}}</strong> {{job}}</h5></div>
  <div class="">
      <p>{{text}}</p>
  </div>
</div>
{% endmacro %}
<!--Reviews -->
<div class="popular-wrapper">
  <div class="container">
    <div class="text-center">
      <h2 class="subtitle">Reviews</h2>
    </div>
  </div>
<div class="container reviews">
    <div class="row" style="padding: 30px 0 40px 0;">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {{ review('Img/a6.jpg', 'Alex Right', 'Software engineer',
'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sequi, repudiandae tenetur et veniam labore debitis repellendus totam non incidunt hic esse!
Lorem ipsum dolor sit amet, consectetur adipisicing elit.') }}
      </div>
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      {{ review('Img/carre_homme.jpg', 'Pavlov Yaroslav', 'Web designer',
'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sequi, repudiandae tenetur et veniam labore debitis repellendus totam non incidunt hic esse!
Lorem ipsum dolor sit amet, consectetur adipisicing elit.') }}
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{% block scripts %}
<script src="js/isotope.pkgd.min.js"></script>
<script>
  //photo grid
var $grid = $('.grid').isotope({
  itemSelector: '.photo',
  layoutMode: 'masonry',
  masonry: {
    isFitWidth: true//needed to center photos
  }
});

// bind filter button click
$('#filters').on( 'click', 'button', function() {
  var filterValue = $( this ).attr('data-filter');
  $grid.isotope({ filter: filterValue });
  $(this).blur();
});
</script>
{% endblock %}
