{% extends 'base.html' %}

{% set title='Iceland regions' %}
{% set header='Lets find your favorite part of Iceland' %}
{% set header_image='regionsbg' %}

{% block header %}
<div class="text-center big-title">
  <h2>Lets find your favorite part of Iceland</h2>
</div>
{% endblock %}


{% block content %}
<div class="regions container">
<!--<object tabindex="0" name="player" id="player" bgcolor="#000000" data="http://www.livefromiceland.is/files/player.swf" type="application/x-shockwave-flash" height="400" width="711"><param value="true" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="true" name="seamlesstabbing"><param value="transparent" name="wmode"><param value="netstreambasepath=http%3A%2F%2Fwww.livefromiceland.is%2Fwebcams%2Fjokulsarlon%2F&amp;id=player&amp;bufferlength=1&amp;wmode=transparent&amp;autostart=true&amp;stretching=fill&amp;skin=%2FResources%2Ffonts%2Fbeelden.zip&amp;file=jokulsarlon.stream&amp;streamer=rtmp%3A%2F%2F46.227.70.67%2Fmila%2F&amp;provider=rtmp&amp;controlbar.position=none" name="flashvars">
<param value="true" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="true" name="seamlesstabbing"><param value="transparent" name="wmode"><param value="netstreambasepath=http%3A%2F%2Fwww.livefromiceland.is%2Fwebcams%2Fjokulsarlon%2F&amp;id=player&amp;bufferlength=1&amp;wmode=transparent&amp;autostart=true&amp;stretching=fill&amp;skin=%2FResources%2Ffonts%2Fbeelden.zip&amp;file=jokulsarlon.stream&amp;streamer=rtmp%3A%2F%2F46.227.70.67%2Fmila%2F&amp;provider=rtmp&amp;controlbar.position=none" name="flashvars"></object>-->

  <h3 class="text-center uppercase">Discover Iceland</h3>

  <p class="regions-text">
  Iceland is typically divided into different geographical regions. Each region differs slightly in respect of culture and landscape, but all are uniquely Icelandic.
  </p>

  <div id="map" style="width: 100%; height: 550px;"></div>
</div>

{% include 'regions/south_iceland.html' %}
<!--include 'regions/reykjanes.html'-->

{% endblock %}

<div class="container">OTHER TOURS</div>

{% block scripts %}
<script type="text/javascript" src="js/ammap.js"></script>
<script type="text/javascript" src="js/icelandLow.js"></script>
<script type="text/javascript" src="js/regions.js"></script>
{% endblock %}
