{% macro tour(image, name, price, tour_id) %}
<!-- <div class="tour"> -->
  <a href="tour_page.html"
  data-tourid="{{tour_id}}">
    <img src="Img/{{image}}" />
    <div class="tour-label">
      <span class="tour-name pull-left">{{name}}</span>
      <span class="tour-price pull-right">{{price}} ISK</span>
    </div>
  </a>
<!-- </div> -->
{% endmacro %}

{% macro tours(items, id, class) %}
<!-- <ul id="{{id}}" class="{{class}}"> -->
<div class="container {{class}}" id="{{id}}">
  {% for t in items %}
    <!-- <li class="tour"> -->
    <div class="tour col-xs-12 col-sm-6 col-md-4">
    {{ tour(t['image'], t['name'], t['price'], t['tour_id'])}}
    </div>
    <!-- </li> -->
  {% endfor %}
<!-- </ul> -->
</div>
{% endmacro %}

{% set all_tours_list=[
  {
    'image': 'tour1.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  },
  {
    'image': 'tour2.jpg',
    'name': 'Golden Circle',
    'price': '20 000',
    'tour_id': 0
  },
  {
    'image': 'tour3.jpg',
    'name': 'Golden Circle',
    'price': '7000',
    'tour_id': 0
  },
  {
    'image': 'tour4.jpg',
    'name': 'Golden Circle',
    'price': '15 000',
    'tour_id': 0
  },
  {
    'image': 'tour5.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  },
  {
    'image': 'tour6.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  },
  {
    'image': 'tour7.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  },
  {
    'image': 'tour8.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  },
  {
    'image': 'tour9.jpg',
    'name': 'Golden Circle',
    'price': '10 000',
    'tour_id': 0
  }] %}

{% macro all_tours(id, class) %}
  {{ tours(all_tours_list, id, class) }}
{% endmacro %}

{% macro three_tours() %}
  {{ tours(all_tours_list[:2]) }}
{% endmacro %}
